body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  min-height: 100vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 5px;
  z-index: 1000;
}

.form {
  display: flex;
  margin-bottom: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.button,
.secondary-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  background-color: #007bff;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.secondary-button {
  background-color: #9fa7ad;
}

.secondary-button:hover {
  background-color: #5a6268;
}

.info-text {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}

.info-text a {
  color: #007bff;
  text-decoration: none;
}

.info-text a:hover {
  text-decoration: underline;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
}

.page-container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page-header {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-footer {
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
}

.message-container {
  display: flex;
  margin-bottom: 10px;
}

.message-container.user {
  justify-content: flex-end;
}

.message-container.assistant {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 75%;
  padding: 10px;
  border-radius: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.message-bubble .download-button {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.message-bubble:hover .download-button {
  display: block;
}

.message-bubble.user {
  background-color: #007bff;
  color: #fff;
}

.message-bubble.assistant {
  background-color: #f5f5f5;
  color: #333;
}

/* Ensure preformatted content does not overflow */
.hljs {
  overflow-x: auto;
}

pre {
  max-width: 100%;
  white-space: pre-wrap; /* Wrap long lines */
  word-wrap: break-word; /* Wrap long lines */
}

.secondary-button.warning {
  background-color: #ffcc00;
}

.secondary-button.warning:hover {
  background-color: #ff9900;
}

.hidden {
  display: none;
}