/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  min-height: 100vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Main Content */
.main {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

/* Footer Styles */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 5px;
  z-index: 1000;
}

/* Form Styles */
.form {
  display: flex;
  align-items: center; /* Align items at the bottom */
  width: 100%;
  position: relative;
  gap: 10px; /* Add space between the elements */
  /* Remove any bottom padding or margin */
  padding-bottom: 0;
  margin-bottom: 0;
}
/* Form Container */
.form-container {
  border: 1px solid #ccc; /* Add a border around the div */
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  /* Remove or reduce padding-bottom to minimize gap */
  padding-bottom: 0px; /* Adjust this value as needed */
}

/* Input Styles */
.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-right: 10px;
}

/* Button Styles */
.button,
.secondary-button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  height: 40px;
  background-color: #007bff;
  color: white;
  border-radius: 40px;
  font-size: 16px;
  flex-shrink: 0;
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center;
  align-self: center; /* Align the button in the center vertically */
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.secondary-button.warning {
  background-color: #FFA500;
  color: #fff;
}

.secondary-button.warning:hover {
  background-color: #FF8C00;
}

/* Button Wrapper */
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

/* Clear Button */
.clear-button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: #dc3545;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #c82333;
}

/* Info Text */
.info-text {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}

.info-text a {
  color: #006AFF;
  text-decoration: none;
}

.info-text a:hover {
  text-decoration: underline;
}

/* Page Container */
.page-container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Page Header */
.page-header {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

/* Page Content */
.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Page Footer */
.page-footer {
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
}

/* Message Container */
.message-container {
  display: flex;
  margin-bottom: 10px;
}

.message-container.user {
  justify-content: flex-end;
}

.message-container.assistant {
  justify-content: flex-start;
}

/* Message Bubble */
.message-bubble {
  position: relative;
  max-width: 75%;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message-bubble.user {
  background-color: #006AFF;
  color: #fff;
}

.message-bubble.assistant {
  background-color: #f5f5f5;
  color: #333;
}

/* Button Container */
.button-container {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: none;
  gap: 5px; /* Space between the buttons */
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.message-bubble:hover .button-container {
  display: flex;
}

/* Individual Buttons */
.message-bubble .download-button,
.message-bubble .delete-button {
  background-color: #ccc;
  color: white;
  border: 1px solid #ccc;
  border-radius: 25%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.message-bubble:hover .download-button,
.message-bubble:hover .delete-button {
  transform: scale(1.1);
}

.message-bubble:hover .download-button:hover,
.message-bubble:hover .delete-button:hover {
  background-color: #ffffff;
}

/* Preformatted Content */
.hljs {
  overflow-x: auto;
}

pre {
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Textarea Styles */
.textarea {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border: none; /* Remove border */
  border-radius: 0; /* Remove border radius */
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-right: 10px;
  background-color: transparent; /* Make background transparent */
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove any potential shadow */
  color: inherit; /* Inherit text color */
}

/* Square Button */
.square-button {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* Hidden Element */
.hidden {
  display: none;
}

/* Menu Toggle Button */
.menu-toggle {
  background: none;
  border: 0.5px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  align-self: center; /* Align the button in the center vertically */
}

/* Button Styles */
.button,
.menu-toggle {
  flex-shrink: 0;
  margin-bottom: 10px; /* Ensure buttons stay at the bottom */
}

.menu-toggle svg path {
  fill: black;
}

/* Menu Bar */
.menu-bar {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 60px;
  left: 10px; /* Adjust as needed */
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-bar.show {
  display: flex;
}